@value primary, secondary, tertiary from "./colours.css";

.galleryPhotos {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imgContainer {
    display: block;
    position: relative;
    padding-top: 100%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.imgContainer:hover {
    transform: scale(1.1);
    z-index: 1;
}

.slides {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: primary;
    color: secondary;
}
.slides--active {
    display: block;
}
.slidesButton {
    width: 2em;
    position: fixed;
    cursor: pointer;
    z-index: 101;
}
/* Prev */
.prev {
    top: 50vh;
    left: 1em;
    transform: translate(0, -50%);
}
/* Next */
.next {
    top: 50vh;
    right: 1em;
    transform: translate(0, -50%);
}
/* Close */
.close {
    top: 1em;
    right: 1em;
}

@media screen and (min-width: 768px) {
    .galleryPhotos {
        grid-template-columns: repeat(4, 1fr);
    }
}