* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}
section {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0 3rem 0;
}
.column {
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 992px){
  .row {
    flex-flow: row nowrap;
    padding: 3rem 0 3rem 0;
    align-items: flex-start;
  }
}

h1, h2, h3, h4 {

}
p {
  font-size: 1em;
}